<!DOCTYPE html>
<html>
      <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <style>
            .section {
                margin: 10px;
            }
        </style>
      </head>
      <body>
          <div>
              <form action="/create" method="POST">
                  <div class="section">1. Question <input type="text" name="question" /></div>
                  <div class="section">2. Options <input type="text" name="option1" /><input type="text" name="option2" /><input type="text" name="option3" /><input type="text" name="option4" /></div>
                  <div class="section">3. Generate Poll <input type="submit" value="Generate Poll"/></div>
              </form>
          </div>

      </body>
</html>
