<!DOCTYPE html>
<html>
      <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
        <style>
            .section {
                margin: 10px;
            }
            @media (max-width: 400px) {
                h1 {
                    font-size: 3em;
                }
            }
            .share {
                color: #777;
            }
        </style>
        <link rel="stylesheet" href="https://bootswatch.com/journal/bootstrap.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />

      </head>
      <body>
          <div class="container">
              <div style="text-align:center;">
                <h3 class="share">Share this poll url: <a href="/{{poll_obj.poll_id}}">qpoll.io/{{poll_obj.poll_id}}</a> </h3>
                <p id="results"></p>
                 <div id="liveChart" style="width: 100%; height: 70vh;"></div>
            </div>
        </div>
      </body>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-rc1/jquery.min.js"></script>      <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
      <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
      <script src="/echarts.min.js"></script>
      <script>
        // Chartjs
        var liveChart = echarts.init(document.getElementById('liveChart'));

        var data = [0, 0, 0, 0];
        var option = {
            title: {
                text: "{{ poll_obj.question }}"
            },
            xAxis: {
                data: ["A", "B", "C", "D"]
            },
            yAxis: {},
            series: [{
                name: 'Default',
                type: 'bar',
                data: data,
                itemStyle: {
                    normal: {
                        color: 'rgba(235,104,100,1)'
                    }
                }
            }]
        };

        liveChart.setOption(option);

        var socket = io();
        var poll_id = window.location.pathname.substr(-5);

        // Ask to view responses for specified poll_id (this will set up redis sub)
        socket.emit('poll:view:responses', poll_id);

        // Update chart as the data flows in
        socket.on('poll:' + poll_id + ':answers', function(msg) {
            for (var i = 0; i < Object.keys(msg).length; i++) {
                data[i] = parseInt(msg[i]);
            }
            console.log(data);
            liveChart.setOption(option);
        });



      </script>
</html>
