<!DOCTYPE html>
<html>
      <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
        <style>
            .section {
                margin: 10px;
            }
            .graphTypeIcon {
                font-size: 75px !important;
                margin-top: 15px;
                margin-right: 15px;
            }
            .colorActive {
                color: #eb6864;
            }
            .colorInactive {
                color: #777;
            }
            .graphType p {
                margin-top: 7px;
                font-size: 17px;
                color: #777;
            }
            h3 {
                font-size: 22px !important;
            }
        </style>
        <link rel="stylesheet" href="https://bootswatch.com/journal/bootstrap.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
      </head>
      <body>
          <div class="container">
              <div style="text-align:center;">
                <h3>Share this url so people can answer your live poll: <a href="/{{poll_obj.poll_id}}">shortpoll.com/{{poll_obj.poll_id}}</a> </h3>
                <p id="results"></p>
                <canvas id="myChart" width="100%" height="60vh"></canvas>
                <div class="graphType">
                    <i class="fa fa-bar-chart graphTypeIcon colorActive" data-type="bar"></i>
                    <i class="fa fa-pie-chart graphTypeIcon" data-type="pie"></i>
                    <p>Graph Type</p>
                </div>
            </div>
        </div>
      </body>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-rc1/jquery.min.js"></script>
      <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.min.js"></script>
      <script>
        // BG colors for different graph types
        var barBgColor = 'rgba(235,104,100,1)';
        var pieBgColor = [
            '#EB6864',
            '#313F4F',
            '#3498DB',
            '#ECF0F1'
        ];

        // options for different graph types
        var barOptions = {
            legend: {
                display: false
            },
            title: {
                display: true,
                text: '{{ poll_obj.question }}',
                fontSize: 25
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true,
                        stepSize: 1,
                        callback: function (tickValue, index, ticks) {
                            if(!(index % parseInt(ticks.length / 5))) {
                                return tickValue;
                           }
                        }

                    }
                }]
            }
        };

        var pieOptions = {
            legend: {
                display: true
            },
            title: {
                display: true,
                text: '{{ poll_obj.question }}',
                fontSize: 25
            },
            tooltips: {
                callbacks: {
                    label: function(tooltipItem, data) {
                        var allData = data.datasets[tooltipItem.datasetIndex].data;
                        var tooltipLabel = data.labels[tooltipItem.index];
                        var tooltipData = allData[tooltipItem.index];
                        var total = 0;
                        for (var i in allData) {
                            total += allData[i];
                        }
                        var tooltipPercentage = Math.round((tooltipData / total) * 100);
                        return tooltipLabel + ': ' + tooltipData + ' (' + tooltipPercentage + '%)';
                    }
                }
            }
        };




        // Chartjs
        var ctx = $('#myChart');
        var chartConf = {
            type: "bar",
            data: {
                labels: [
                    {{#each poll_obj.options }}
                    "{{this}}",
                    {{/each}}
                ],
                datasets: [{
                    label: 'Poll Results',
                    data: [
                        {{#each poll_obj.options }}
                        0,
                        {{/each}}
                    ],
                    backgroundColor: barBgColor
                }]
            },
            options: barOptions
        }

        function drawSegmentValues()
        {
            console.log(myChart.segments.length);
            for(var i=0; i<myChart.segments.length; i++)
            {
                ctx.fillStyle="white";
                var textSize = canvas.width/15;
                ctx.font= textSize+"px Verdana";
                // Get needed variables
                var value = myChart.segments[i].value/totalValue*100;
                if(Math.round(value) !== value)
                	value = (myChart.segments[i].value/totalValue*100).toFixed(1);
                value = value + '%';

                var startAngle = myChart.segments[i].startAngle;
                var endAngle = myChart.segments[i].endAngle;
                var middleAngle = startAngle + ((endAngle - startAngle)/2);

                // Compute text location
                var posX = (radius/2) * Math.cos(middleAngle) + midX;
                var posY = (radius/2) * Math.sin(middleAngle) + midY;

                // Text offside by middle
                var w_offset = ctx.measureText(value).width/2;
                var h_offset = textSize/4;

                ctx.fillText(value, posX - w_offset, posY + h_offset);
            }
        }

        function getTotalValue(arr) {
            var total = 0;
            for(var i=0; i<arr.length; i++)
                total += arr[i].value;
            return total;
        }


        var myChart = new Chart(ctx, chartConf);
        Chart.defaults.global.defaultFontSize = 18;

        var socket = io();
        var poll_id = window.location.pathname.substr(-5);


        socket.on('connection', function(socket) {
            console.log('connected client - PC!');
        });

        // Ask to view initial responses for specified poll_id
        socket.emit('poll:view:responses', poll_id);

        // Update chart as the data flows in
        socket.on('poll:' + poll_id + ':answers', function(msg) {
            for (var i = 0; i < Object.keys(msg).length; i++) {
                chartConf.data.datasets[0].data[i] = parseInt(msg[i]);
            }
            myChart.update();
        });


        var graphType = function(type) {
            switch (type) {
                case "bar":
                    chartConf.options = barOptions;
                    chartConf.data.datasets[0].backgroundColor = barBgColor;
                    break;
                case "pie":
                    chartConf.options = pieOptions;
                    chartConf.data.datasets[0].backgroundColor = pieBgColor;
                    break;
            }
        }


        // Handle changing graph type
        $('.graphTypeIcon').click(function() {
            if ($(this).hasClass('colorActive')) {
                return;
            }
            $(this).addClass('colorActive');
            $('.graphTypeIcon').not($(this)).removeClass('colorActive');
            chartConf.type = $(this).data('type');
            graphType(chartConf.type);
            myChart.destroy();
            myChart = new Chart(ctx, chartConf);
            myChart.render();
        });
      </script>
</html>
