<!DOCTYPE html>
<html>
      <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <style>
            .section {
                margin: 10px;
            }
        </style>
      </head>
      <body>
          <div style="text-align:center;">
            <h3>Share this url so people can answer your poll: <a href="/{{poll_obj.poll_id}}">domain.com/{{poll_obj.poll_id}}</a> </h3>
            <h1>{{ poll_obj.question }}</h1>
        </div>
      </body>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-rc1/jquery.min.js"></script>      <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
      <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
      <script>
        var socket = io();
        var poll_id = window.location.pathname.substr(-5);
        socket.emit('poll:view:responses', poll_id);
        socket.on('poll:' + poll_id + ':answers', function(msg) {
            console.log(msg);
        });

      </script>
</html>
